# Start by ignoring everything
*

# Track makefiles PLEASE
!Makefile
!makefile

# Track everything that has a file extension,
# ignore object files
!*.*
*.o

# Vim ignore
*.sw[po]
.nfs*

# Track this
!/**/
