# Start by ignoring everything
*

# Track makefiles PLEASE
!Makefile
!makefile

# Track everything that has a file extension, but ignore object files and
# vim swap
!*.*
*.o
*.swp

# Track this
!/**/
